# Data Workflows
Combining for-loops with Pandas DataFrames

In [1]:
animals = ['tiger','cheetah','elephant']
for animal in animals:
    print(animal)

tiger
cheetah
elephant

In [2]:
import pandas as pd

In [3]:
surveys_df = pd.read_csv('https://ndownloader.figshare.com/files/10717177')
surveys_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35549 entries, 0 to 35548
Data columns (total 9 columns):
record_id          35549 non-null int64
month              35549 non-null int64
day                35549 non-null int64
year               35549 non-null int64
plot_id            35549 non-null int64
species_id         34786 non-null object
sex                33038 non-null object
hindfoot_length    31438 non-null float64
weight             32283 non-null float64
dtypes: float64(2), int64(5), object(2)
memory usage: 2.4+ MB

In [5]:
surveys_df.sample(8)

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
15577,15578,2,5,1989,11,PE,F,21.0,21.0
25355,25356,3,16,1997,4,PF,M,16.0,10.0
31005,31006,7,2,2000,4,PB,M,25.0,21.0
2950,2951,5,17,1980,24,DM,F,34.0,27.0
155,156,8,21,1977,21,DM,M,35.0,NaN
25046,25047,2,9,1997,5,RM,F,17.0,11.0
30746,30747,6,3,2000,12,OT,F,20.0,18.0
35078,35079,11,10,2002,6,DO,F,35.0,61.0

In [6]:
surveys_df['year'].sample(5)

3624     1980
14097    1988
25151    1997
12301    1987
16110    1989
Name: year, dtype: int64

In [7]:
surveys_df['year'].sample(5).mean()

1985.0

In [8]:
surveys_df['year'].unique()

array([1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987,
       1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998,
       1999, 2000, 2001, 2002])

In [9]:
unique_years = surveys_df['year'].unique()
len(unique_years)

26

In [10]:
for year in unique_years:
    print(year)

1977
1978
1979
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002

In [12]:
for year in unique_years:
    print(year)
    print(len(surveys_df[surveys_df['year'] == year]))

1977
503
1978
1048
1979
719
1980
1415
1981
1472
1982
1978
1983
1673
1984
981
1985
1438
1986
942
1987
1671
1988
1469
1989
1569
1990
1311
1991
1347
1992
1038
1993
750
1994
668
1995
1222
1996
1706
1997
2493
1998
1610
1999
1135
2000
1552
2001
1610
2002
2229

In [15]:
for year in unique_years:
    survey_year = surveys_df[surveys_df['year'] == year]
    filename = 'survey_subset_' + str(year) + '.csv'
    survey_year.to_csv(filename)